<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="nikonorov.net.signapp">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:allowBackup="true"
        android:name=".App"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".authscreen.view.AuthActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name=".mainscreen.view.MainActivity"
            android:screenOrientation="portrait"/>

        <service android:name=".sync.SyncService"/>

        <receiver android:name=".sync.SyncEventReciever">
            <action android:name="android.intent.action.BOOT_COMPLETED" />
        </receiver>

    </application>

</manifest>
